<div class="row mb-5 justify-content-center">
  <div class="col-md-12 text-center mt-3">
    <h1>{{vocabularyId}}</h1>
    <p>{{vocabularyFl}}</p>
    <p>{{vocabularyDef}}</p>
  </div>
  <div class="col-md-12 text-center mt-3">
    <form class="text-center mt-3" action="/list" method="POST">
      <button class="btn btn-outline-info" type="submit">Save Word <i class="fas fa-plus"></i></button>
    </form>
    {{!-- <p></p>
    <p><a href="/search" class="btn btn-info">Search more</a></p> --}}
  </div>
</div>
